.civil-engineering {
    margin: 0 30px;
    
    &_picture-container {
        &:extend(.picture-container all);
        background: url("img/atlas.jpg");
        background-position: center -50px !important;
    }
}